<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
document.write()
	var json_data = <%- JSON.stringify(somevar) %>
	var j_data = JSON.parse(json_data);
	for (var i = 0; i < j_data.length; i++) {
		document.write(j_data[i].movie_title);
		document.write('<br>')
	}
	//document.write(j_data);

</script>
	<title>This </title>
</head>
<body>

</body>
</html>